[submodule "local_train/ffjord"]
  path = local_train/ffjord
  url = git@github.com:SchattenGenie/ffjord.git
[submodule "ffjord/ffjord"]
  path = ffjord/ffjord
  url = git@github.com:SchattenGenie/ffjord.git
